
<%- include('../../partials/messages.ejs') %>
<div class="container my-3"> <h2>Mobiles</h2></div>
  <hr>
<div class="row">
<% products.forEach(product=>{ %>
<div class="card" style="width: 18rem; margin:10pt">
    <img src="<%=product.imagePath%>" class="card-img-top img-fluid" style="height: 300px; width:auto"  alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=product.productTitle%></h5>
      <p class="card-text" style=" width:200px; 
      overflow:hidden; 
      text-overflow:ellipsis;
      white-space:nowrap;"><%=product.productDesc%></p>
      <strong>Rs <%=product.productPrice%></strong>
      <a href="/add-to-cart/<%=product._id%>" class="btn btn-primary float-right">Add to Cart</a>
    </div>
  </div>
  <%})%>
</div>