<% if(products) { %>
<div class="container mx-3 my-3">
    <h2 class="my-2">Your Cart</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Product Price</th>
          </tr>
        </thead>
        <tbody>
            <% products.forEach(product=>{ %>
          <tr>
            <td><%=product.item.productTitle%></td>
            <td><%=product.qty%></td>
            <td>Rs <%=product.price%></td>
          </tr>
          <%})%>
          <tr class="btn-info"> 
            <td colspan="1"><strong>Total</strong></td>
            <td><%=totalQty%></td>
            <td>Rs <%=totalPrice%></td>
          </tr>
        </tbody>
      </table>
</div>
<hr>
<div class="container mx-3 my-3">
    <a href="/checkout" class="btn btn-primary">Checkout</a>
</div>
<%} else {%>
    <div class="container mx-3 my-3">
        <h2>No Items in the cart</h2>
    </div>
<%}%>